<section class="mx-auto mt-3 max-w-4xl py-16">
    <div class="  mx-auto px-6">
        <h2 class="text-3xl font-bold text-center mb-6">Certificações</h2>
        <div class="flex w-full justify-center gap-3">
            <div *ngFor="let certificacao of certificacoes">
                <div>
                    <div class="w-full flex justify-center">
                        <img [src]="certificacao.caminho" [alt]="certificacao.titulo"
                            class="w-32 h-32 object-cover rounded-lg">
                    </div>
                    <div>
                        <p>{{ certificacao.titulo }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>