<footer class="bg-zinc-800 dark:bg-zinc-900 text-white py-8 mt-3">
  <div class="container mx-auto px-6">
    <div
      class="flex flex-col sm:flex-row justify-between items-center space-y-6 sm:space-y-0"
    >
      <!-- Seção de Links -->
      <div class="text-center sm:text-left">
        <h4 class="text-xl font-semibold mb-2">Entre em Contato</h4>
        <ul class="space-y-2">
          <li>
            <a href="mailto:edson3711.es@gmail.com" class="hover:text-blue-400"
              >Email</a
            >
          </li>
          <li>
            <a href="https://wa.me/5511998232603" class="hover:text-blue-400"
              >WhatsApp</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/edson3711.es/"
              class="hover:text-blue-400"
              >Instagram</a
            >
          </li>
        </ul>
      </div>

      <!-- Seção de Direitos Autorais -->
      <div class="text-center sm:text-right">
        <p class="text-sm text-white">
          &copy; 2024 Edson Sousa. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
