.active-link {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Define a espessura da linha */
  text-underline-offset: 4px; /* Ajusta o espaço entre o texto e a linha */
  color: #2563eb; /* Azul mais forte */
}
