<nav class="bg-zinc-800 text-zinc-700 dark:text-white bg-opacity-30 backdrop-blur-lg p-4">
  <div class=" mx-auto flex items-center justify-between">
    <div class="hidden md:block">
      <img class="h-12 w-12" src="./../../../favicon.ico" alt="">
    </div>
    <!-- Atalhos de navegação no centro -->
    <ul class="flex space-x-6 mx-auto ">
      <li>
        <a routerLink="/home" routerLinkActive="active-link"
          class="transition-all duration-300 ease-in-out transform hover:scale-105 hover:text-blue-600 font-medium">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/projetos" routerLinkActive="active-link"
          class="transition-all duration-300 ease-in-out transform hover:scale-105 hover:text-blue-600 font-medium">
          Projetos
        </a>
      </li>
      <li>
        <a routerLink="/sobre" routerLinkActive="active-link"
          class="transition-all duration-300 ease-in-out transform hover:scale-105 hover:text-blue-600 font-medium">
          Sobre
        </a>
      </li>
      <li>
        <a routerLink="/contato" routerLinkActive="active-link"
          class="transition-all duration-300 ease-in-out transform hover:scale-105 hover:text-blue-600 font-medium">
          Contato
        </a>
      </li>
    </ul>

    <!-- Botão de alternância de tema à direita -->
    <app-botao-tema class="" />
  </div>
</nav>