<div class="w-full">
    <p class="text-lg text-gray-800 dark:text-gray-200 mb-4">
        Olá, sou Edson Sousa, um desenvolvedor apaixonado por tecnologia e soluções inovadoras. Com mais
        de 15 anos de experiência no setor de logística, venho, há cerca de 4 anos, mergulhando no
        universo da programação, buscando constantemente aprimorar minhas habilidades e transformar
        desafios em soluções através do desenvolvimento de software.
    </p>
    <p class="text-lg text-gray-800 dark:text-gray-200 mb-4">
        Como desenvolvedor, sou motivado por resolver problemas através da programação. Tenho uma sólida
        formação em tecnologias como <span class="text-blue-600 dark:text-blue-400">Java</span>, <span
            class="text-blue-600 dark:text-blue-400">Spring Boot</span>, <span
            class="text-blue-600 dark:text-blue-400">Angular</span>, além de conhecimento em <span
            class="text-blue-600 dark:text-blue-400">PostgreSQL</span> e <span
            class="text-blue-600 dark:text-blue-400">MongoDB</span>. Embora tenha trabalhado por muitos
        anos no setor de logística, minha paixão por tecnologia me impulsiona a buscar uma nova
        trajetória profissional na área de programação, onde posso aplicar minhas habilidades e
        continuar crescendo.
    </p>
    <p class="text-lg text-gray-800 dark:text-gray-200 mb-4">
        O que me motiva é aprender e crescer como profissional. Atualmente, estou em busca de novos
        desafios, onde eu possa aplicar meu conhecimento em desenvolvimento de software para criar
        soluções que realmente impactem as pessoas.
    </p>
    <p class="text-lg text-gray-800 dark:text-gray-200 mb-4">
        Vamos conversar? <span class="text-blue-600 dark:text-blue-400">Entre em contato</span> comigo e
        vamos trabalhar juntos!
    </p>
</div>