<div *ngIf="modalAberto" class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center z-50"
    (click)="fecharModal()">
    <div class="relative w-9/12" (click)="$event.stopPropagation()">
        <!-- Botão Fechar -->
        <button (click)="fecharModal()"
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full w-8 h-8 flex items-center justify-center shadow-md">
            ✕
        </button>

        <!-- Imagem em Tamanho Grande -->
        <img [src]="imagemAtual" alt="Imagem Ampliada" class="max-w-full max-h-screen rounded-lg shadow-lg" />
    </div>
</div>