<section class="mx-auto mt-3 max-w-4xl py-16">
    <div class="  mx-auto px-6">
        <h2 class="text-3xl font-bold text-center mb-6">Sou formado em</h2>

        <div *ngFor="let formacao of formacoes" class="bg-white shadow rounded-lg  mb-2">

            <div class="relative bg-cover bg-center  h-64 w-full rounded-lg"
                [ngStyle]="{'background-image': 'url(' + formacao.fundo + ')'}">

                <div
                    class=" w-full absolute inset-0 bg-black bg-opacity-50 flex p-0 lg:p-16 items-center rounded  justify-between">
                    <div class=" w-full flex items-start lg:gap-4 mb-4">
                        <i class="bi bi-geo-alt-fill text-blue-500 text-2xl"></i>
                        <div>
                            <p class="text-sm text-gray-300 dark:text-white">{{ formacao.endereco }}</p>
                            <p class="text-sm text-gray-200 dark:text-white">{{ formacao.bairro }}</p>
                            <p class="text-sm text-gray-100 dark:text-white">{{ formacao.cidade }}</p>
                        </div>
                    </div>
                    <div class=" w-full justify-start">
                        <h3 class="text-lg justify-start font-semibold text-blue-400 dark:text-blue-50">{{
                            formacao.titulo }}</h3>
                        <p class="text-sm text-gray-300 dark:text-white">{{ formacao.descricao }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>