<router-outlet></router-outlet>
<app-header></app-header>
<!-- Seção de Tecnologias -->
<section class="mx-auto mt-10 max-w-4xl">
  <h2 class="text-3xl font-semibold text-center mb-6">
    Tecnologias que utilizo
  </h2>
  <div class="flex justify-around items-center">
    <!-- Angular -->
    <div class="flex flex-col items-center">
      <img
        src="https://img.icons8.com/color/480/angularjs.png"
        alt="Angular"
        class="rounded-full object-cover w-20 h-20"
      />
      <p class="mt-2 text-center text-lg font-medium">Angular</p>
    </div>
    <!-- Java -->
    <div class="flex flex-col items-center">
      <img
        src="https://img.icons8.com/color/480/java-coffee-cup-logo.png"
        alt="Java"
        class="rounded-full object-cover w-20 h-20"
      />
      <p class="mt-2 text-center text-lg font-medium">Java</p>
    </div>
    <!-- Spring -->
    <div class="flex flex-col items-center">
      <img
        src="https://img.icons8.com/color/480/spring-logo.png"
        alt="Spring"
        class="rounded-full object-cover w-20 h-20"
      />
      <p class="mt-2 text-center text-lg font-medium">Spring</p>
    </div>
    <!-- PostgreSQL -->
    <div class="flex flex-col items-center">
      <img
        src="https://img.icons8.com/color/480/postgreesql.png"
        alt="PostgreSQL"
        class="rounded w-20 h-20"
      />
      <p class="mt-2 text-center text-lg font-medium">PostgreSQL</p>
    </div>
  </div>
</section>
